@page
@model MealPlanner.Pages.Recipes.FilterModel
@{
  ViewData["Title"] = "Filter Recipes";
}

<form method="get" asp-page="/Recipes/Index">
  <div class="form-group">
    <label asp-for="NameFilter">Name</label>
    <input type="text" asp-for="NameFilter" class="form-control" placeholder="Filter by name..." />
  </div>
  <div class="form-group">
    <label asp-for="CalorieFilter">Calories</label>
    <input type="number" asp-for="CalorieFilter" class="form-control" placeholder="Filter by calories..." />
  </div>
  <div class="form-group">
    <label asp-for="CategoryFilter">Category</label>
    <select asp-for="CategoryFilter" asp-items="Model.Categories" class="form-control">
      <option value="">Select Category</option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="TimeFilter">Meal Time</label>
    <select asp-for="TimeFilter" asp-items="Model.Times" class="form-control">
      <option value="">Select Meal Time</option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="BookTitle">Book Title</label>
    <input type="text" asp-for="BookTitle" class="form-control" placeholder="Filter by Book Title..." />
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Filter</button>
  </div>
</form>