@page
@model MealPlanner.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<div class="d-flex justify-content-between">
    <span>
        <a asp-page="./Filter" class="btn btn-secondary">Filter Recipes</a>
    </span>
    <span class="p-1">
        <a asp-page="./Edit" class="btn btn-primary">Create New Recipe</a>
        <a asp-page="./MealPlan" class="btn btn-secondary">Meal Plan</a>
    </span>
</div>

<div class="recipes d-flex align-items-stretch">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="recipe-list-recipe p-2 col-lg-4 col-md-6 col-sm-12">
            @await Html.PartialAsync("../Shared/_RecipeCard", recipe)
        </div>
    }
</div>
