@page
@model MealPlanner.Pages.IndexModel
@{
  ViewData["Title"] = "MealPlanner";
}

<div class="jumbotron">
  <h2>Hi, @Model.Name!</h2>
  <h5>Welcome to <b>MealPlanner</b>!</h5>
  <p>
    Use the navigation bar above to 
    <a asp-page="/Recipes/Index">view your recipes</a>
    and <a asp-page="/MealPlan/Index">create your meal plan!</a>
  </p>
</div>