@page
@model MealPlanner.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<div class="row justify-content-between p-1">
    <form method="get" class="form-inline">
        <input type="text" asp-for="NameFilter" class="form-control m-1" placeholder="Filter by name..." />
        <select asp-for="CategoryFilter" asp-items="Model.Categories" class="form-control m-1">
            <option value="">Select Category</option>
        </select>
        <select asp-for="TimeFilter" asp-items="Model.Times" class="form-control m-1">
            <option value="">Select Meal Time</option>
        </select>
        <div class="p-1">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
    <span class="p-1">
        <a asp-page="./Edit" class="btn btn-primary">Create New Recipe</a>
        <a asp-page="./MealPlan" class="btn btn-secondary">Meal Plan</a>
    </span>
</div>

<div class="recipes row align-items-stretch">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="recipe-list-recipe p-2 col-lg-4 col-md-6 col-sm-12">
            @await Html.PartialAsync("../Shared/_RecipeCard", recipe)
        </div>
    }
</div>
